.tablero-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(9, 3.5rem);
    grid-template-rows: repeat(9, 3.5rem);
}
/*background-color: black;*/
